
<link rel="stylesheet" type="text/css" href="/include/calendar.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="scripts/statistics.css"> --!>

<script src="/include/calendar.min.js"></script>
<!--
<script src="include/Chart.bundle.min.js"></script>
<script src="include/hammer.min.js"></script>
<script src="include/chartjs-plugin-zoom.min.js"></script>
<script src="scripts/chartjs_rewrap.js"></script>
!-->
<script src="/scripts/statistics.js"></script>
<div class="ui fixed menu">
  <a onclick="history.back()" class="ui big basic button"><i class="arrow left icon"></i></a>
  <a class="ui small header item">Statistics</a>
</div>
<div class="ui segment" style="margin-top:5rem">

<div class="ui form">
  <div class="inline fields">
    <label>Time:</label>
    <div class="ui input calendar four wide field form_startdate">
      <input type="text" placeholder="Date/Time">
    </div>
    <label>to</label>
    <div class="ui input calendar four wide field form_enddate">
      <input type="text" placeholder="Date/Time">
    </div>
    <label>Period:</label>
    <select class="ui dropdown form_period">
      <!-- value is in unit minute !-->
      <option value="30">30 Minutes</option>
      <option value="60">1 Hour</option>
      <option value="120">2 Hour</option>
      <option value="180" selected="selected">3 Hour</option>
      <option value="360">6 Hour</option>
      <option value="720">12 Hour</option>
      <option value="1440">Day</option>
      <option value="10080">Weeks</option>
      <option value="43800">Month</option>
    </select>
  </div>
  <div class="inline fields">
    <label>Target:</label>
    <select id="form_target_options" class="ui dropdown form_target">
      <option class="item" data-value="Summary">Summary</option>
      <option v-for="option in options" v-bind:data-value="option.name" class="item">{{ option }}</option>
    </select>  
    <label>Show in:</label>
    <select class="ui dropdown form_showin">
      <option class="item" data-value="Price">Price</option>
      <option class="item" data-value="Count">Quantity</option>
    </select>  
  </div>
  <div onclick="statistics_app.loaddata()" class="ui button">Load</div>
</div>

<div class="ui segment overflowhandler-x nopadding">
  <table id="data" class="ui celled table  ">
    <thead>
      <tr>
        <th>Name</th>
        <th v-for="date in dates">{{ showtime(date) }}</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in table">
        <td>{{ item.name }}</td>
        <td v-for="column in item.column">{{ column }}</td>
        <td>{{ item.total }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>


