<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="include/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="scripts/main.css">
  <title>Kopitiam</title>
</head>

<body>
  <div id="menu" class="ui segment container cover layout">
  <div class="ui huge menu">
    <a data-tab="items" class="item">Items</a>
    <a data-tab="arrange" class="item">Arrange</a>
    <a data-tab="printer" class="item">Printers</a>
    <a data-tab="table" class="item">Tables</a>
    <a data-tab="extra" class="item">Extra</a>
  </div>

  <div id="items" data-tab="items" class="ui tab segment six column grid">
    <div v-for="form in formtypes" id="item_form" class="ui form segment" v-bind:class="form.class">
        <div class="field">
          <label>Name:</label>
          <input v-model="form.item.name" placeholder="name" type="text">
        </div>
        <div class="two fields">
          <div class="field">
            <label>Category:</label>
            <select v-model="form.item.category" class="ui fluid search dropdown category two column">
              <option v-for="category in datalink.categories" v-bind:value="category.name">{{ category.name }}</option>
            </select>
          </div>
          <div class="field">
            <label>Printer:</label>
            <select v-model="form.item.printer" class="ui fluid search dropdown printer six column">
              <option v-for="printer in datalink.printers" v-bind:value="printer.name">{{ printer.name }}<option>
            </select>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Price:</label>
            <div class="ui right labeled input">
              <label class="ui label">RM</label>
              <input v-model="form.item.price" placeholder="price" type="number" step="0.01">
            </div>
          </div>
          <div class="field two fields">
            <div class="field">
            <label>Background color:</label>
            <input v-model="form.item.background" type="color">
            </div>
            <div class="field">
            <label>Font color:</label>
            <input v-model="form.item.font" type="color">
            </div>
          </div>
        </div>
      <button v-if="form.type=='add'" v-on:click="add()" class="ui fluid button">Add</button>
      <button v-if="form.type=='modify'" v-on:click="modify()" class="ui fluid button">Modify</button>
    </div>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Printer</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in datalink.items">
          <td>
            <a class="ui basic label" style="padding:0;margin:0" >
              <i class="square icon basic label" style="padding:0;margin:0" v-bind:style="'color:' + (typeof(item.color)=='undefined' ? '#ffffff': item.color)" ></i>
            </a> 
            {{ item.name }}
          </td>
          <td>{{ item.category }}</td>
          <td>{{ item.printer }}</td>
          <td>RM {{ Number(item.price).toFixed(2) }}
            <div v-on:click="remove(item)" class="ui red button right floated">delete</div>
            <div v-on:click="modify_modal(item)" class="ui green button right floated">modify</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="arrange" data-tab="arrange" class="ui tab segment">
  <!-- from below is a copy from a part in index.html, the main page of the program, but have some different --!>
  <!-- different: width=60% !-->
  <div class="eight wide column" style="width:100%!important;padding-top:0!important">
    <div class="ui grid">
      <div class="doubling four column row category nopadding nomargin">
        <div v-for="category in datalink.categories" class="ui fluid button column nopadding nomargin">
          <div v-on:click="showcat(category)" class="ui fluid big button">
            {{ category.name }}
          </div>
        </div>
      </div>
      <!-- 
        id=draggable_items
        style add:
        padding-right:200px , reserve additional space for mobile to scroll because draggable items make items' area unscrollable. 
      --!>
      <div id="draggable_items" class="doubling four column row overflowhandler" style="padding-bottom:900px!important;padding-right:200px!important">
      
      <div v-for="item in items" class="ui column nomargin nopadding">
        <!--
          v-on:mouseDown=clicked(item)
          class add:"drag_handle"
        --!>
        <a v-on:mouseDown="clicked(item)" class="ui fluid big button drag_handle" v-bind:style="'background-color:' + item.background + ';color:' + item.font" style="min-height:5em">
          {{ item.name }} <br> RM {{ Number(item.price).toFixed(2) }}
        </a>
        <!-- v-on:click=vueItems.modify_modal(item); class add:"drag_handle" --!>
        <a v-on:click="vueItems.modify_modal(item)" class="ui fluid label center aligned grid bottom attached" >
          <i class="small plus icon detail"></i>
        </a>
       </div>
      </div>
    </div>
  </div>
  <!-- end --!>
  </div>

  <div id="printers" data-tab="printer" class="ui tab segment six column grid">
    <div class="ui form segment">
      <div class="three fields">
        <div class="field">
          <div class="ui right labeled input">
            <label class="ui label">Printer Name</label>
            <input v-model="form.name" placeholder="name" type="text">
          </div>
        </div>
        <div class="field">
          <div class="ui right labeled input">
            <label class="ui label">ip</label>
            <input v-model="form.ip" value="192.168.192.168" type="text">
          </div>
        </div>
        <div class="field">
          <div class="ui right labeled input">
            <label class="ui label">port</label>
            <input v-model="form.port" value="9100" type="number">
          </div>
        </div>
 
      </div>
      <button v-on:click="add()" class="ui fluid button">Add</button>
    </div>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Printer Name</th>
          <th>Printer URL</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="printer in datalink.printers">
          <td>{{ printer.name }}</td>
          <td>
            {{ printer.ip }}:{{ printer.port }}
            <div v-on:click="remove(printer)" class="ui red button right floated">delete</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="tablenum" data-tab="table" class="ui tab segment six column grid">
    <div class="ui action input">
      <input v-model="form.number" placeholder="table number" type="text">
      <button v-on:click="add()" class="ui button">Add</button>
    </div>
    <div class="ui segment three blue buttons grid">
      <div v-for="table in datalink.tablenumber" class="ui large label">
        {{ table.number }}
        <i v-on:click="remove(table)" class="delete icon"></i>
      </div>
    </div>
  </div>

  <div id="extra" data-tab="extra" class="ui tab segment six column grid">
    <div class="ui eight wide column grid left aligned">
      <div class="row">
        <h3 class="ui header">Extra:</h3>
      </div> 

      <div class="ui fluid action input row">
          <input v-model="extraform.text" placeholder="extra..." type="text">
          <div class="ui right labeled input">
            <label class="ui label">RM</label>
            <input v-model="extraform.price" placeholder="" type="number">
          </div>
      </div> 
      <div v-on:click="add('extra')" class="ui fluid button">Add</div>
      <table class="ui celled table">
        <thead>
          <tr>
            <th></th>
            <th>Text</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody id="draggable_extra">
          <tr v-for="extra in datalink.extra" v-on:mouseDown="clicked(extra)">
            <td class="drag_handle"><i class="resize vertical icon"></i></td>
            <td>{{ extra.text }}</td>
            <td>
              RM {{ extra.price.toFixed(2) }}
              <div v-on:click="remove('extra',extra.id)" class="ui red button right floated">delete</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
 
    
    <div class="ui eight wide column grid floated right">
      <div class="row">
        <h3 class="ui header">Remarks:</h3>
      </div>
      <div class="ui fluid action input row">
        <input v-model="remarksform.text" placeholder="remarks..." type="text">
      </div>
      <div v-on:click="add('remarks')" class="ui fluid button">Add</div>
      <table class="ui celled table">
          <thead>
            <tr>
              <th></th>
              <th>Text</th>
            </tr>
          </thead>
          <tbody id="draggable_remarks">
            <tr v-for="remark in datalink.remarks" v-on:mouseDown="clicked(remark)">
              <td class="drag_handle"><i class="resize vertical icon"></i></td>
              <td>
                {{ remark.text }}
                <div v-on:click="remove('remarks', remark.id)" class="ui red button right floated">delete</div>
              </td>
            </tr>
          </tbody>
      </table>
    </div> 
  </div>
</div>
<script src="include/jquery-3.2.1.min.js"></script>
<script src="include/jquery-ui-sortable.min.js"></script>
<script src="include/jquery.ui.touch-punch.min.js"></script> <!--http://touchpunch.furf.com/--!>
<script src="include/vue.min.js"></script>
<script src="include/semantic.min.js"></script>
<script src="include/tablesort.min.js"></script>
<script src="scripts/config.js"></script>
</body>
</html>
