<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="include/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="scripts/main.css">
  <title>Kopitiam</title>
</head>

<body style="overflow:hidden">
<button class="ui big button" onclick="back()">Back</button>
<button class="ui big button right floated" onclick="location.reload()">Refresh</button>
<div id="tablenum" class="ui segment layout">
  <div class="ui grid container">
    <div v-for="table in tablenumber" class="four wide column">
      <button v-on:click="selectnumber(table.number)" class="ui fluid huge button">{{table.number}}</button>
    </div>
  </div>
</div>

<div id="extraorder" class="ui segment layout">
  <div class="ui header">
    {{ itemlink.name }} RM {{ (itemlink.price + addprice).toFixed(2) }}
  </div>
  <div class="ui equal width column grid">
    <div class="ui fluid action big input row">
        <input v-model="remarktext" placeholder="remarks..." type="text">
        <div v-on:click="addremark(remarktext)" class="ui button">add remarks</div>
    </div> 
    <div class="row">
      <h3 class="ui header column">Extra:</h3>
      <h3 class="ui header column">Remarks:</h3>
    </div>
  </div>
  <div class="ui equal width column grid">
    <div class="column overflowhandler">
      <div class="column ui big relaxed divided list">
        <div v-for="(extra, index) in datalink.extra" class="ui checkbox item">
          <input v-model="extraindex" v-bind:value="index" v-bind:id="'extra-'+index" type="checkbox">
          <label v-bind:for="'extra-'+index" class="ui big label fluid">{{ extra.text }}
            <a>+RM {{ extra.price.toFixed(2) }}</a>
          </label>
        </div>
      </div>
    </div>
    <div class="column overflowhandler">
      <div class="column ui big relaxed divided list">
        <div v-for="(remark, index) in datalink.remarks" class="ui big checkbox item">
          <input v-model="remarks" v-bind:value="remark.text" v-bind:id="'remark-'+index" type="checkbox">
          <label v-bind:for="'remark-'+index" class="ui big label fluid">{{ remark.text }}</label>
        </div>
      </div>
    </div>
  </div>
  <button v-on:click="order()" class="ui massive green fluid button rightbottom">Add</button>
</div>

<div id="home" class="ui segment layout nopadding nomargin">
<div class="ui grid">
  <div id="checkorder" class="eight wide column nopadding">
    <div class="ui huge label fluid">Ordered:
      <a class="ui green">RM{{ orderlink.totalprice.toFixed(2) }}</a>
    </div>
    <table class="ui fixed structured table nomargin">
      <thead>
        <tr>
          <th colspan="1"></th>
          <th colspan="4">Name</th>
          <th colspan="2" >Price(RM)</th>
          <th colspan="1"></th>
        </tr>
      </thead>
    </table>
    <div class="overflowhandler">
    <table class="ui fixed structured table">
      <tbody>
        <tr v-for="(order, index) in orderlink.items">
          <td v-on:click="cancel(order)" colspan="1" class="ui center aligned fluid button"><i class="small minus icon nomargin"></i></td>
          <td colspan="4" class="order_additions">
            {{ order.count }} X {{ order.name }}
            <a v-if="order.remarks!==[] || order.extra!==[]">
              {{ order.remarks.join() }} {{ order.remarks.join()!==''?',':'' }} {{ order.extra.map(function(extra){return extra.text}).join() }}
            </a>
          </td>
          <td colspan="2">{{ order.price.toFixed(2) }}</td>
          <td v-on:click="add(order)" colspan="1" class="ui center aligned fluid button"><i class="small plus icon nomargin"></i></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <div onclick="sendorder()" class="ui green fluid huge rightbottom button" style="width:50%">Send</div>

  <div id="menu" class="eight wide column" style="width:49%!important;padding-top:0!important">
    <div class="ui width grid">
      <div class="doubling four column row category nopadding nomargin">
        <div v-for="category in datalink.categories" class="ui fluid button column nopadding nomargin">
          <div v-on:click="showcat(category)" class="ui fluid big button">
            {{ category.name }}
          </div>
        </div>
      </div>
      <div class="doubling four column row overflowhandler" style="padding-bottom:900px!important">
      <div v-for="item in items" v-on:click="order(item)" class="ui big basic button column nomargin" style="min-height:5em">
            {{ item.name }} <br> RM {{ Number(item.price).toFixed(2) }}
            <a v-on:click="extra(item)" class="ui fluid label center bottom attached" >
              <i class="small plus icon detail"></i>
            </a>
       </div>
      </div>
 
    </div>
    <div class="ui width grid" style="padding-top:1rem">
     </div>
    </div>
  </div>
</div>
</div>

<script src="include/jquery-3.2.1.min.js"></script>
<script src="include/vue.min.js"></script>
<script src="include/semantic.min.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>

