<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/include/semantic.min.css">
  <link rel="manifest" href="/icons/manifest.json">
  <link rel="icon" type="image/png" href="icons/web_hi_res_512.png">
  <title>Kopitiam</title>
</head>

<body>
  <iframe src="/main.html" style="border:none; height:100%; width:100%">
  </iframe>
</body>
</html>
