<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="include/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="scripts/main.css">
  <title>Kopitiam Menu</title>
  <style>
    .advmargin {
      margin-top:1rem!important;
    }
    .advcolumn {
      padding-bottom:0!important;
    }
  </style>
</head>

<body class="ui basic segment container" style="height:100%">
  <h3 class="ui horizontal divider">Map</h3>
    <a onclick="location.href='statistics.html'" class="ui icon label message">
      <i class="table icon"></i>
      <div class="content">
        <div class="header">
          Statistics
        </div>
        <p>Summarize how much orders has made.</p>
      </div>
    </a>
    <a onclick="location.href='config.html'" class="ui icon label message">
      <i class="cog icon"></i>
      <div class="content">
        <div class="header">
          Configuration
        </div>
        <p>Configuration about menu items, table number, printers and etc.</p>
      </div>
    </a>
    <a onclick="location.href='index.html'" class="ui icon label message">
      <i class="edit icon"></i>
      <div class="content">
        <div class="header">
          Food Ordering
        </div>
        <p>Client-side Food Ordering System.</p>
      </div>
    </a>
  <h3 class="ui horizontal divider" style="margin-top:10vh">Advanced</h3>
  <div class="ui grid container" style="padding-bottom:5em">
      <a onclick="load('update')" class="ui fluid big button advmargin">Update Version</a>
      <div class="eight wide column advcolumn">
        <a onclick="location.href='backupdb.zip'" class="ui fluid big button">Backup Database</a>
      </div>
      <form id="restoredb_form" class="eight wide column advcolumn">
          <label for="file" class="ui fluid big icon button">
              <i class="file icon"></i>
              Retore Database</label>
          <input type="file" id="file" style="display:none" onchange="restoredb()" >
      </form>
      <a onclick="load('restart')" class="ui fluid big button advmargin">Restart System</a>
      <a onclick="document.cookie = 'hash=; Max-Age=0'; location.reload()" class="ui fluid big button advmargin">Logout</a>
  </div>
</body>


<script src="include/jquery-3.2.1.min.js"></script>
<script>
function restoredb(){
  console.log($('#restoredb_form').serialize());
  $.ajax({
    url: 'restoredb',
    type: 'POST',
    data : $('#restoredb_form').serialize(),
    success: function(data){
      alert(data);
    }
  });
}
function load(target){
  $.ajax({
    url: target, 
    type: 'POST',
    async: false,
    success: function(data) {
      alert(data);
    }
  });
}

  // TODO add service worker code here
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/scripts/swadmin.js').then(function(registration) {
        // Registration was successful
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }, function(err) {
        // registration failed :(
        console.log('ServiceWorker registration failed: ', err);
      });
    });
  }
</script>
</html>
