
body {
  //overflow:hidden;
  //font-size: 1.2em;
}

.ui.modal {
  height:100%;
  width:100%!important;
  top:0!important;
  margin:0!important;
}
.cover.container {
  padding: 0;
  margin: 0;
}

td {
  font-size:1.5em;
}

.halfwidth {
  width=50%!important;
}

.order_additions {
  word-wrap: break-word;
}

.overflowhandler {
  height: 100vh;
  padding-bottom: 100vh!important;
  overflow-y: scroll;
}

.rightbottom {
  position: fixed;
  bottom: 0px;
  left: 0px; 
}

.ui.grid {
  margin-top:0!important;
}

.nopadding {
  padding-left:0!important;
  padding-right:0!important;
  padding-top:0!important;
  padding-bottom:0!important;
}

.nomargin {
  margin-left:0!important;
  margin-right:0!important;
  margin-top:0!important;
  margin-bottom:0!important;
}

.hide {
  display:none!important;
}


