.ui.modal {
  height:100%;
  width:100%!important;
  top:0!important;
  margin:0!important;
}
.cover.container {
  padding: 0;
  margin: 0;
}

td {
  font-size: 1.2em;
}

th {
  padding: 0!important;
}
/*---https://github.com/kylefox/jquery-tablesort---*/
th.sorted.ascending:after {
	content: "  \2191";
}

th.sorted.descending:after {
	content: " \2193";
}
/*-----*/

.halfwidth {
  width=50%!important;
}

.order_additions {
  word-wrap: break-word;
}

.overflowhandler {
  max-height: 100vh;
  //padding-bottom: 26vh!important;
  overflow-y: scroll;
}
.overflowhandler-x {
  overflow-x: scroll;
}

.rightbottom {
  position: fixed;
  bottom: 0px;
  left: 0px; 
}

.ui.grid {
  margin-top:0!important;
}

.nopadding {
  padding-left:0!important;
  padding-right:0!important;
  padding-top:0!important;
  padding-bottom:0!important;
}

.nopadding_e_left {
  padding-right:0!important;
  padding-top:0!important;
  padding-bottom:0!important;
}

.nomargin {
  margin-left:0!important;
  margin-right:0!important;
  margin-top:0!important;
  margin-bottom:0!important;
}

.hide {
  display:none!important;
}

.button_float {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
}


